<table class="table">
<th></th>
<tr>
<p class="color-white">
  <strong>Bloguero:</strong>
  <%= comment.commenter %>
</p>
 
<p class="color-white">
  <strong>Comentario:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Eliminar Comentario', [comment.post, comment],
               method: :delete,
               data: { confirm: '¿Estás seguro?' } %>
</p>
<tr>
</table>