/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */


body {
  background-image: url('http://www.fondosni.com/images/2012-10-13/Fondo%20negro%20con%20estructura%20en%20lineas-746551.jpg')
 /* User sign in and sign forms. */
}
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.btn-claudia {
  color: black !important;
  background-color: #1E92C9;
  font-weight: bold;
}

.btn-claudia2 {
  color: white !important;
  background-color: #000000;
}

.color-blue{
  color: #1E92C9 !important;
}


.box-claudia {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #fff;
  background-color: #30A2EE; }
  .jumbotron h1,
  .jumbotron .h1 {
    line-height: 1;
    color: #fff; }
  .jumbotron p {
    line-height: 1.4; }
  .container .jumbotron {
    border-radius: 6px; }
  .jumbotron .container {
    max-width: 100%; }
  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-top: 48px;
      padding-bottom: 48px; }
      .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px; }
      .jumbotron h1,
      .jumbotron .h1 {
        font-size: 63px; } }

.box-claudia2 {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-image: url('http://2.bp.blogspot.com/-cFVxsHASQNI/TrxJlBgWJnI/AAAAAAAAAVE/Kk9n6bcENyc/s1600/fondo+azul.jpg');
   }
  .jumbotron h1,
  .jumbotron .h1 {
    line-height: 1;
    color: inherit; }
  .jumbotron p {
    line-height: 1.4; }
  .container .jumbotron {
    border-radius: 6px; }
  .jumbotron .container {
    max-width: 100%; }
  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-top: 48px;
      padding-bottom: 48px; }
      .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px; }
      .jumbotron h1,
      .jumbotron .h1 {
        font-size: 30px; } }

.box-claudia3 {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: white;
  background-image: url('http://3.bp.blogspot.com/-eKtY6qmDv6w/UT389730B_I/AAAAAAAAGoQ/CoN2oDiRTkY/s1600/BB_BlueHaze_04.jpg');
   }
  .jumbotron h1,
  .jumbotron .h1 {
    line-height: 1;
    color: inherit; }
  .jumbotron p {
    line-height: 1.4; }
  .container .jumbotron {
    border-radius: 6px; }
  .jumbotron .container {
    max-width: 100%; }
  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-top: 48px;
      padding-bottom: 48px; }
      .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px; }
      .jumbotron h1,
      .jumbotron .h1 {
        font-size: 63px; } }

.color-white{
  color: white;
}
